body{
	width: 98%;
	height: 100%;
  background-image: url(img/1.jpg);
  }

  .main1{
    border-bottom: 3px solid silver;
  }

  .btnG{
      padding: 15px;
      margin-top: 150px;
      margin-left: 200px;
      color:black;
      background-color: brown;
      border-radius: 10px;
      border: none;
      font-family: Monaco;
      font-size: 45px;
      width: 350px;
    }
  
  
  .btnP{
      padding: 15px;
      margin-top: 150px;
      margin-left: 50px;
      color:black;
      border: none;
      background-color: #3a6dda;
      border-radius: 10px;
      font-family: Monaco;
      font-size: 45px;
      width: 350px;
      
    }
  
  .btnH{
      padding: 15px;
      margin-top: 50px;
      margin-left: 200px;
      color:black;
      border: none;
      background-color: chocolate;
      border-radius: 10px;
      font-family: Monaco;
      font-size: 45px;
      width: 350px;
    }
  
  .btnU{
      padding: 15px;
      margin-top: 50px;
      margin-left: 50px;
      color:black;
      border: none;
      background-color: rgb(159, 235, 19);
      border-radius: 10px;
      font-family: Monaco;
      font-size: 45px;
      width: 350px;
    }
  
  .btnB{
      padding: 15px;
      margin-top: 50px;
      margin-left: 200px;
      color:black;
      border: none;
      background-color: rgb(63, 58, 133);
      border-radius: 10px;
      font-family: Monaco;
      font-size: 45px;
      width: 350px;
    }
  
  .btnM{
      padding: 15px;
      margin-top: 50px;
      margin-left: 50px;
      color:black;
      border: none;
      background-color: rgb(179, 20, 152);
      border-radius: 10px;
      font-family: Monaco;
      font-size: 45px;
      width: 350px;
    }
  
  .btnG:active {
      transform: translateY(5px);
    }
  .btnH:active {
      transform: translateY(5px);
    }
  .btnM:active {
      transform: translateY(5px);
    }
  .btnB:active {
      transform: translateY(5px);
    }
  .btnP:active {
      transform: translateY(5px);
    }
  .btnU:active {
      transform: translateY(5px);
    }
  
  .link {
    text-decoration: none;
    margin-top: 30px;
	  margin-right:40px;
    font-family: Monaco;
    font-size: 25px;
  }

  .link:hover{
    color: rgb(92, 223, 53);
  }

  .search{
    margin-top: 150px;
    margin-left: 50px;
    font-size: 25px;
    width: 270px;
    height: 35px;
  }
  .submit{
    margin-left: 35px;
    font-size: 25px;
  }
